.footer-menu {
    position: absolute; /* Position absolue par rapport à l'accueil */
    bottom: 0;
    left: 0;
    width: 80%; /* Ajustez la largeur selon vos préférences */
    margin-left: 1.5rem;
    margin-bottom: 3rem;
    display: flex;
  

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Utilise Flexbox pour aligner les liens */
    justify-content: space-around; /* Aligne les liens avec un espace égal entre eux */
    font-family: 'title2';
    font-size: 14px;
  

  li {
    display: block;
  

  a {
    display: block;
    color: #333; /* Couleur du texte */
    text-decoration: none;
    padding: 10px 35px; /* Espacement à l'intérieur des liens */
  

  &:hover {
    color: $grey-color;
    font-style: italic;
  }
}}}}