$bg-color: #f7f8f0;
$font-color: #333;
$grey-color: #868686;

@font-face {
    font-family: 'title';
    src: url('../../public/fonts/title.ttf') format('truetype');
  }

  @font-face {
    font-family: 'title2';
    src: url('../../public/fonts/title2.ttf') format('truetype');
  }
